<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1 id="heading">Hi, welcome to Rock, Paper, Scissors!</h1>
    <p>What is your name?</p>
    <form action="/play" method="POST">
        <input id="name-textbox" type="text" name="player">
        <input id="name-submit" type="submit" value="Submit!">
    </form>
</body>

</html>